---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Memes | Bloby Core Community">
    <section class="py-16">
        <div class="mx-auto flex max-w-xl flex-col items-center gap-6 text-center">
            <h1 class="text-3xl font-semibold">Memes</h1>
            <p class="text-white/70">Instant classic.</p>
            <iframe
                title="I am Quincy son of Quincy"
                width="110"
                height="200"
                src="https://www.myinstants.com/instant/i-am-quincy-son-of-quincy-98697/embed/"
                frameborder="0"
                scrolling="no"
            ></iframe>
        </div>
    </section>
</Layout>
